:root {
  --PRIMARY-COLOR: #143275;
  --SECONDARY-COLOR: #F5F5F5;
  --SKANSKA-WHITE: #FFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

#main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: 
    "sidenav header"
    "sidenav content";
  height: 100%;
  width: 100%;
}

#sidenav {
  background-color: var(--PRIMARY-COLOR);
  grid-area: sidenav;
}

#header {
  background-color: var(--SKANSKA-WHITE);
  grid-area: header;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 0; /*seems to not show the shadow without this*/
}

#content {
  background-color: var(--SECONDARY-COLOR);
  grid-area: content;
  padding: 1rem;
  padding-top: 2rem;
}

#yourProjects {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100%;
  grid-gap: 1rem;
}

#cards {
  background-color: aqua;
  height: 100%;
}

#annTrend {
  background-color: aquamarine;
  height: 100%;
}