@import url('assets/fonts/ShapeSans/shapesans.css');


:root {
  --PRIMARY-COLOR: #143275;
  --SECONDARY-COLOR: #F5F5F5;
  --SKANSKA-WHITE: #FFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: 'shape_sansdisplay';
    height: 100vh;
}

#main {
  display: grid;
  grid-template-columns: 250px 4fr;
  grid-template-rows: minmax(150px, 1fr) 6fr;
  grid-template-areas: 
    "sidenav header"
    "sidenav content";
  height: 100%;
  width: 100%;
}

#sidenav {
  background-color: var(--PRIMARY-COLOR);
  grid-area: sidenav;
}

#header {
  background-color: var(--SKANSKA-WHITE);
  grid-area: header;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 0; /*seems to not show the shadow without this*/
}

#content {
  background-color: var(--SECONDARY-COLOR);
  grid-area: content;
  display: grid;
  grid-template-columns: 3fr 325px;
  padding-top: 1rem;
}

#yourProjects {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
}

#yourProjects h2 {
  align-self: center;
}

#cards {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 1rem;
  padding: 1rem;
  padding-top: 0px;
  /* height: 100%; */
  justify-items: center;
  justify-content: center;
  overflow: auto;
}


.card {
  background: linear-gradient(to right, #143275 10px, #ffffff 5px);
  border-radius: 0.5rem;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  height: 250px;
  width: 400px;
  transition: ease 0.3s;
}

.card:hover {
  transform: translateY(-3px);
}

#annTrend {
  /* background-color: aquamarine; */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  padding: 1rem;
}

#annoucements, #trending {
  background-color: var(--SKANSKA-WHITE);
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#annoucements {
  height: 400px;
  
}

#trending {
  height: 350px;
}

@media (max-width: 1380px) {
  #cards {
    grid-template-columns: 1fr;
  }
}