* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Full viewport height */
    padding: 1rem;
    background-color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .sidenav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidenav li {
    margin-bottom: 1rem;
  }
  
  .sidenav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    padding: 0.75rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-family: inherit
  }
  
  .sidenav a:hover {
    background-color: #e2e6ea;
  }
  
  .icon {
    margin-right: 0.75rem;
    font-size: 1.25rem;
  }
  